.aboutme {
    position: relative;
    background-color: var(--color-lightgrey);
    padding: 3rem 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.me {
    height: 300px;
    width: auto;
    border-radius: 50%;
    border: .5px solid var(--color-black);
    flex: 0 0 auto;
}

.aboutme__content {
    max-width: 45%;
    text-align: center;
    line-height: 1.6;
}

.aboutme h1 {
    font-size: 50px;
    font-weight: 400;
    padding: 1rem;
}


.aboutme h4 {
    font-size: 18px;
    font-weight: 300;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media screen and (max-width: 1024px){

    .me {
        display: none;
        /* Maybe change to small and on top of about me */
    }
    .aboutme__content {
        text-align: center;
        margin: auto;
        max-width: 70%;
        line-height: 1.6;
        
    }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */

@media screen and (max-width: 600px){
    .aboutme {
        flex-direction: column;
        gap: 1.5rem;
    }

    .me {
        display:block;
        height: 150px;
        margin: auto;
    }
    .aboutme h1 {
        font-size: 40px;
    }

    .aboutme h4{
        font-size: 16px;
    }

    .aboutme__content {
        max-width: 90%;
    }
}
